*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size:18px;
}

body{
    background: url("/photos/weather-background.jpg") no-repeat center center/cover;
}

.weather-photo{
    border-radius: 5px;
    width: 100%;
}

span{
    font-size: 22px;
}

input{
    width: 80%;
    color: #000;
    background-color: #fff;
}

.show-weather, .show-prognosis{
    background: transparent;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 4px;
}

.show-weather:hover, .show-prognosis:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}